protocols/messenger/libpapillon/doc/wsdl/msnab_sharingservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Reverse engineered MSN AddressBook webservice WSDL definition
	
	by Michaël Larouche <michael.larouche@kdemail.net>
	Latest update: 25 June 2006
-->
<definitions targetNamespace="http://www.msn.com/webservices/AddressBook"
			xmlns:msnab="http://www.msn.com/webservices/AddressBook"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns="http://schemas.xmlsoap.org/wsdl/">
	
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.msn.com/webservices/AddressBook" schemaLocation="msnab_servicetypes.xsd" />
		</schema>
	</types>
	
	<message name="ABHeader">
		<part name="ApplicationHeader" element="msnab:ABApplicationHeader" />
		<part name="AuthHeader" element="msnab:ABAuthHeader" />
	</message>
	
	<message name="FindMembershipMessage">
		<part name="FindMembershipRequest" element="msnab:FindMembership" />
	</message>
	
	<message name="ServiceHeader">
		<part name="serviceHeader" element="msnab:ServiceHeader" />
	</message>
	
	<message name="FindMembershipResponseMessage">
		<part name="FindMembershipResponse" element="msnab:FindMembershipResponse" />
	</message>
	
	<portType name="SharingServicePortType">
		<operation name="FindMembership">
			<input message="msnab:FindMembershipMessage" />
			<output message="msnab:FindMembershipResponseMessage" />
		</operation>
	</portType>
	
	<binding name="SharingServiceBinding" type="msnab:SharingServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="FindMembership">
			<soap:operation soapAction="FindMembership" style="document" />
			<input>
				<soap:header message="msnab:ABHeader" part="ApplicationHeader" use="literal"/>
				<soap:header message="msnab:ABHeader" part="AuthHeader" use="literal" />
				<soap:body use="literal" />
			</input>
			<output>
				<soap:header message="msnab:ServiceHeader" part="serviceHeader" use="literal" />
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	
	<service name="SharingService">
		<port name="FindMembershipPort" binding="msnab:SharingServiceBinding">
			<soap:address location="https://omega.contacts.msn.com/abservice/SharingService.asmx" />
		</port>
	</service>
</definitions>